:root {
    --color-1: #111111;
    --color-2: #FFFFFF;
    --font: 'Inter', sans-serif;
    --color-3: #E3B748;
    --color-4: #1D1D1D;
    --card-color: #2E2E2E;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-4);
}

.main__container {
    min-width: 1140px;
    width: 100%;
}

header {
    display: block;
    background-color: var(--color-1);
    padding-left: 48px;
    padding-top: 48px;
}

ul img {
    margin-top: 8px;
    width: 143px;
    height: 30px;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-around;
    color: var(--color-2);
    font-family: var(--font);
    font-size: 16px;
}

ul li:nth-child(2) {
    margin-left: 200px;
}


ul li:nth-child(5) {
    margin-right: 200px;
}

ul li {
    margin-top: 12px;
}

ul li:nth-child(1) {
    margin-left: 120px;
}

ul p {
    border: 1px var(--color-2) solid;
    padding: 12px 24px;
    margin-right: 4vw;
}

.container--text h1 {
    margin-top: 80px;
    font-weight: 500;
    font-size: 6.6rem;
    text-align: center;
}

.container--text {
    grid-column: 1 /2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    font-family: var(--font);
    color: var(--color-2);

}

.container--text h2 {
    font-weight: 700;
    font-size: 6.6rem;
    text-align: center;
}

div aside {
    display: flex;
}

.introducing__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    padding-top: 128px;
    background-color: var(--color-1);
    height: 840px;
}

aside img {
    width: 467px;
    height: 544px;
    display: flex;
    margin: 0 auto;
}

.input__container {
    background-color: cadetblue;
    width: 578px;
    height: 74px;
}

.container--text--description {
    color: var(--color-2);
    font-family: var(--font);
    opacity: 30%;
    width: 438px;
    text-align: center;
    font-size: 1.8rem;
}

.container--text--input {
    color: var(--color-3);
    opacity: 100%;
    font-family: var(--font);
    background-color: #292929;
    background-image: url(../assets/email.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 28px 26px;
    height: 74px;
    width: 438px;
    padding-left: 64px;
    border-radius: 43px;
    border: 0;
}

.submit--button {
    font-family: var(--font);
    position: relative;
    right: 142px;
    background-color: var(--color-3);
    width: 137px;
    height: 62px;
    border-radius: 43px;
    border: 0;
}

h3, h4 {
    color: var(--color-2);
    font-family: var(--font);
    font-weight: 500;
}

h3 {
    font-size: 5.4rem;
}

h4 {
    font-size: 3.2rem;
}

.description__text__container h4 {
    margin-top: 40px;
}

.description__container {
    padding-top: 128px;
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    width: 1140px;
    margin: 0 auto;
    height: 400px;
}

.description__line {
    width: 1px;
    height: 206px;
    background-color: #6A6A6A;
    border-bottom: 2px;
}

.description__introduction {
    margin-top: 36px;
}

.description__text {
    color: var(--color-2);
    opacity: 30%;
    font-size: 1.8rem;
    font-family: var(--font);
    margin-top: 24px;
    width: 440px;
}

.description__text__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.benefits h1 {
    font-weight: 600;
    font-size: 5.4rem;
    text-align: center;
    margin-bottom: 97px;

}

.benefits__card {
    border: 2px solid var(--card-color);
    border-radius: 16px;
}

.card__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    width: 1140px;
    margin: 0 auto;
}

.benefits__card img {
    width: 101px;
    height: 101px;
    margin: 16px 0 0 16px;
}

.benefits__card h5 {
    color: var(--color-2);
    font-family: var(--font);
    font-size: 2.4rem;
    margin: 28px 24px 0px 24px;
}

.benefits__card .benefits__card__text {
    font-size: 1.4rem;
    color: var(--color-2);
    font-family: var(--font);
    margin: 12px 24px 0px 24px;
    text-align: justify;
    opacity: 30%;
}

.benefits__card__button {
    width: 121px;
    height: 43px;
    background-color: var(--color-3);
    text-align: center;
    padding-top: 12px;
    font-size: 1.4rem;
    font-family: var(--font);
    margin: 22px;
    border-radius: 24px;
    font-weight: 600;
    margin-bottom: 48px;
}

.benefits__card:nth-child(2) {
    background-color: #232323;
}

.area__title {
    display: block;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
    font-family: var(--font);
    margin-bottom: 65px;
}

.area__container {
    width: 1140px;
    height: 1228px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    column-gap: 30px;
    row-gap: 30px;
    margin: 0 auto;
}

.area__image--large img {
    width: 100%;
    height: 100%;
}

.area__image--small img {
    width: 100%;
    height: 100%;
}

.image1 {
    grid-column: 1 / 3;
    grid-row: 1;
}

.image2 {
    grid-column: 3;
    grid-row: 1;
}

.image3 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.image4 {
    grid-column: 1;
    grid-row: 2;
}

.image5 {
    grid-column: 1 / 3;
    grid-row: 3;
}

.image6 {
    grid-column: 3 / 4;
    grid-row: 3;
}

.image__description {
    color: var(--color-2);
    position: relative;
    bottom: 64px;
    text-align: center;
    font-family: var(--font);
    font-size: 2.4rem;
    font-weight: 600;
}

.opinion__container {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    margin-top: 186px;
    justify-content: space-between;
}

.opinion__container h3 {
    width: 500px;
}   

.opinion__container .opinion__button {
    width: 90px;
    height: 90px;
    background-color: var(--color-2);
    border-radius: 50%;
    margin: 48px 10px;
}

.opinion__button img {
    width: 38px;
    height: 38px;
    position: relative;
    top: 26px;
    left: 26px;
}

.button__container {
    display: flex;
}

.button__container .button--right {
    background-color: var(--color-3);
}

.review__container {
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.review__card {
    height: 400px;
    width: 100%;
    border: 2px solid var(--card-color);
    display: inline-block;
    padding: 32px;
    border-radius: 14px;
}

.review__card h5{
    font-size: 2.4rem;
    font-family: var(--font);
    font-weight: 600;
    color: var(--color-2);
    text-align: left;
    margin-top: 16px;
}

.review__profile--pic {
    width: 105px;
    height: 105px;
}

.review__quotes--pic {
    width: 75px;
    height: 48px;
    position: relative;
    bottom: 60px;
    left: 96px;
}

.review__card p {
    color: var(--color-2);
    font-family: var(--font);
    font-size: 1.4rem;
}

.user__ocupation {
    font-weight: 700;
    margin: 16px 0px;
}

.user__review {
    font-weight: 500;
    opacity: 30%;
    margin: 24px 0px;
}

.review__card:nth-child(2) {
    background-color: var(--card-color);
}

.review__card:nth-child(2) .review__quotes--pic {
    display: none;
}

.team__container {
    width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 45px;
    row-gap: 15px;
}

.team__title {
    font-family: var(--font);
    text-align: center;
    margin-top: 200px;
    margin-bottom: 109px;
    font-weight: 600;
}

.team__card {
    padding-left: 36px;
    height: 109px;
    display: flex;
    background-color: var(--card-color);
    border-radius: 14px;
    transition: background-color 400ms ease-in-out 100ms;
}

.team__card img {
    width: 69px;
    height: 69px;
    margin: 20px 0px;
}

.team__card p, h5{
    font-family: var(--font);
    color: var(--color-2);
    transition: background-color 500ms ease-in-out 100ms;
}

.team__card p {
    font-size: 1.4rem;
    opacity: 30%;
    font-weight: 500;
    margin-top: 6px;
    transition: background-color 500ms ease-in-out 100ms;
}

.team__card h5 {
    font-size: 2.4rem;
    font-weight: 600;
}

.team__card div {
    padding: 26px;
}

.faq__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    margin-top: 200px;
}

.faq__container--left {
    grid-column: 1 /2;
    grid-row: 1;
}

.faq__container h3 {
    font-weight: 600;
}

.faq__container--left p {
    opacity: 30%;
    margin: 14px 96px 0 0px;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: var(--font);
    color: var(--color-2)
}

h6 {
    font-size: 2.4rem;
    color: var(--color-2);
    font-weight: 600;
    font-family: var(--font);
}

.faq__title {
    margin-top: 36px;
}

.faq__questions {
    grid-column: 2/3;
    grid-row: 1;
}

.faq__questions p {
    opacity: 30%;
    font-weight: 500;
    font-size: 1.8rem;
    font-family: var(--font);
    color: var(--color-2)
}










.team__card:hover {
    background-color: var(--color-3);
}

.team__card:hover h5 {
    color: var(--color-1);
    opacity: 85%;
}

.team__card:hover p {
    color: var(--card-color);
    opacity: 70%;
}

